<label for="date">Choose a date</label>
<duet-date-picker
  identifier="{{ date['#name'] }}"
  name="{{ date['#name'] }}"
  id="{{ date['#name'] }}"
  value="{{ date['#default_value'] }}"
  required="{{ date['#required'] }}"
>
</duet-date-picker>
